body {
  background: #20273a;
  color: white;
  font-family: sans-serif;
}
th,
tr,
td {
  width: 200px;
  padding: 8px;
  text-align: center;
  /* background: black; */
}

tr:nth-child(even) {
  background: red;
}
tr:nth-child(1) {
  background: green;
}
tr:nth-child(3) {
  background: rgb(125, 125, 1);
}
tr:nth-child(5) {
  background: purple;
}
